.float-left {
  display: none;
}

.calendar {
  width: 90%;
  border-radius: 3px;
  min-height: 243px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.contrib-column-first {
  border-left: 0;
  display: none;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
  display: none;
}

.day-tooltip:after {
  color: #fff;
}

text.ContributionCalendar-label {
  fill: #fff;
  font-size: 11px;
}

@media only screen and (max-width: 700px) {
  .contrib-number {
    font-weight: 100;
    font-size: 16px;
    display: block;
    color: #ff004f;
  }
  #gittitle {
    margin-bottom: -20px;
    margin-top: 50px;
  }
  .calendar {
    margin-bottom: 0px;
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
:root {
  --color-calendar-graph-day-bg: #dddbdb;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

rect.ContributionCalendar-day[data-level="0"] {
  fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
}
